{
"parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
    },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "commonjs": true,
    "shared-node-browser": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react"
  ],
  "rules": {
    "comma-dangle": [2,"never"],
    "no-cond-assign": [2,"always"],
    "no-constant-condition": 2,
    "no-control-regex": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 1,
    "no-empty": 1,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 1,
    "no-extra-parens": [1,"functions"],
    "no-extra-semi": 2,
    "no-func-assign": 1,
    "no-inner-declarations": [1,"functions"],
    "no-invalid-regexp": 1,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 1,
    "use-isnan": 2,
    "valid-jsdoc": 1,
    "valid-typeof": 1,
    "accessor-pairs": [1,{"getWithoutSet":false,"setWithoutGet":true}],
    "block-scoped-var": 2,
    "complexity": [1,25],
    "default-case": 2,
    "dot-location": [1,"property"],
    "eqeqeq": [2,"allow-null"],
    "no-alert": 1,
    "no-caller": 1,
    "no-div-regex": 1,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extra-bind": 1,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-implicit-coercion": [2,{"boolean":true,"number":true,"string":true}],
    "no-implied-eval": 2,
    "no-labels": 1,
    "no-loop-func": 1,
    "no-multi-spaces": 1,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-new": 1,
    "no-octal-escape": 1,
    "no-octal": 1,
    "no-param-reassign": [1,{"props":false}],
    "no-proto": 2,
    "no-redeclare": [2,{"builtinGlobals":true}],
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 1,
    "no-throw-literal": 1,
    "no-unused-expressions": 1,
    "no-useless-call": 1,
    "no-void": 2,
    "no-with": 2,
    "radix": 1,
    "vars-on-top": 1,
    "wrap-iife": [2,"inside"],
    "no-catch-shadow": 2,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-undefined": 2,
    "no-use-before-define": 2,
    "handle-callback-err": [2," \"^(err|error|anySpecificError)$\""],
    "no-mixed-requires": [1,true],
    "no-new-require": 1,
    "no-path-concat": 1,
    "no-process-exit": 2,
    "array-bracket-spacing": [1,"always",{"singleValue":true,"objectsInArrays":true,"arraysInArrays":true}],
    "brace-style": [1,"1tbs",{"allowSingleLine":true}],
    "camelcase": [1,{"properties":"always"}],
    "comma-spacing": [1,{"after":true}],
    "comma-style": 1,
    "eol-last": 1,
    "indent": [1,"tab", {"SwitchCase": 1}],
    "linebreak-style": [1,"unix"],
    "new-parens": 1,
    "newline-after-var": [1,"always"],
    "no-array-constructor": 1,
    "no-continue": 2,
    "no-lonely-if": 1,
    "no-mixed-spaces-and-tabs": [1,"smart-tabs"],
    "no-multiple-empty-lines": [1,{"max":2}],
    "no-nested-ternary": 1,
    "no-spaced-func": 2,
    "no-trailing-spaces": [1,{"skipBlankLines":true}],
    "no-unneeded-ternary": 1,
    "object-curly-spacing": [1,"always",{"arraysInObjects":true,"objectsInObjects":true}],
    "operator-assignment": [1,"always"],
    "operator-linebreak": [1,"after"],
    "padded-blocks": [1,"always"],
    "quotes": [1,"single","avoid-escape"],
    "semi": [1,"never"],
    "sort-vars": [1,{"ignoreCase":false}],
    "space-before-blocks": [1,"always"],
    "space-infix-ops": [1,{"int32Hint":true}],
    "spaced-comment": [1,"always",{}],
    "wrap-regex": 1,
    "arrow-spacing": [1,{"before":true,"after":true}],
    "no-class-assign": 1,
    "no-this-before-super": 1,
    "no-var": 2,
    "prefer-const": 1,
    "prefer-spread": 1,
    "prefer-reflect": 1,
    "require-yield": 1,
    "max-depth": 0,
    "max-len": [1,100,4,{"ignorePattern":"4","ignoreComments":true,"ignoreUrls":true}],
    "no-bitwise": 2
  }
}
